<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--- <h5><%= locals.users? user: "User" %></h5>  -->
    <a href="/logout"> Logout</a>
    <H1>DASHBOARD</H1><br><br>

    <div class="details content">
      
</body>
</html>