<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="style4.css">
</head>
<body>
  <header>
    
    <div class="brand"><a href="#">TASK MANAGER</a></div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
</header>

<div class="task-results">
    <h2>All Tasks</h2>


        <li>
          <h2 class="task"><%= tasks%></h2> 
        </li>   
         
    
    

   </div>

</body>
</html>